{% extends 'base.html' %}
{% block content %}

<h1>Vinyl List</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ vinyl.name }}</span>
                <p>Artist: {{ vinyl.artist }}</p>
                <p>Released: {{ vinyl.released }}</p>
                <p>Label: {{ vinyl.label }}</p>
            </div>
                <div class="card-action">
                    <a href="{% url 'vinyls_update' vinyl.id %}">Edit</a>
                    <a href="{% url 'vinyls_delete' vinyl.id %}">Delete</a>
                </div>
            </div>
        </div>
        <div class="col s6">
            <form action="{% url 'add_listening' vinyl.id %}" method="POST">
                {% csrf_token %}
                {{ listening_form.as_p }}
                <input type="submit" class="btn" value="Add Listening to Record">
            </form>
            <br>
            {% if vinyl.listen_for_today %}
            <div class="card-panel teal-text center-align">{{vinyl.name}} has been listened to for today.</div>
            {% else %}
            <div class="card-panel red-text center-align">{{vinyl.name}} had not been heard.</div>
            {% endif %}
            <table class="striped">
                <thead>
                    <tr><th>Date</th><th>Sound</th></tr>
                </thead>
                <tbody>
                    {% for listening in vinyl.listening_set.all %}
                    <tr>
                        <td>{{listening.date}}</td>
                        <td>{{listening.get_sound_display}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        const dateEl = document.getElementById('id_date');
        M.Datepicker.init(dateEl, {
            format: 'yyyy-mm-dd',
            defaultDate: new Date(),
            setDefaultDate: true,
            autoClose: true
        });
        const selectEl = document.getElementById('id_sound');
        M.FormSelect.init(selectEl);
    </script>
    {% endblock %}